body {
    margin: 0;
    background-color: rgb(165, 61, 60);
}

.box {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: rgb(165, 61, 60);
}

.textBody {
    /* height: 1000px; */
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding-top: 30px;
}

.inner {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}

img {
    width: 100%;

}

p {
    text-indent: 2em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}